    body {
        font-family: bokor;
        background-color: #CDC3E3;
        color: black;
    }


    h1, h2, h3, h4, h5, h6 {
        font-family:quintessential;
        font-size:30pt;
    }


    header {
        text-align:center;
    }

    #avatar, footer {
        color: black;
        background-color: #E6E176;
        text-align:center;
        padding:10px;
    }

    #avatar img {
        width:320px;
    }

    #bio {
        padding:20px
        text-align:left;
    }

    footer {
        text-align:right;
    }

    #hobbies ul li:nth-child(odd) {
        color: white
    }

    #hobbies {
        border: lightskyblue groove 6px;
        padding: 5px;    
    }

    #gallery{
        border:#E6E176 ridge 5px;
    }

    #gallery img {
        max-width:100%;
    }

    #gallery figure{
        text-align:center;
        font-size:25px;
    }
